{{ partial "header.html" . }}

	<main role="main">
		<article class="h-entry post" itemscope itemtype="http://schema.org/BlogPosting">
			<h1 class="entry-title" itemprop="headline">
                <a class="p-name u-url" href='{{ .Permalink }}'> {{ .Title }}</a></h1>

            <span class="entry-meta">
                <span rel="author" class="p-author h-card">
                    <a href="{{ .Site.Params.authorurl }}" >{{ .Site.Params.author }}</a>
                </span>
                <time class="dt-published" itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ .Date.Format "2" }}{{ if in (slice 1) .Date.Day}}er{{ end }}
               {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}
                </time> - {{ .FuzzyWordCount }} mots
            </span>
			<section itemprop="entry-text">

                <div class="e-content">{{ .Content }}</div>
                <div class="tags">
                    {{ range .Params.tags }}
                    <a rel="tag" class="p-category" href="/tags/{{ replace . "#" "%23" | urlize }}/">{{ . }}</a>
                    {{ end }}
                </div>
			</section>

            <section class="mention-edit">

                <!-- partiel webmention -->
                {{ partial "webmention.html" . }}
                <!-- /partiel webmention -->
            </section>
            <section class="edit">
                <!-- partiel meta data-->
                {{ partial "page-meta-data.html" . }}
                <!-- /partiel meta data-->
                <!-- partiel bouton page-edit-->
                {{ partial "page-edit.html" . }}
                <!-- /partiel bouton page-edit-->
            </section>

		</article>
	</main>

{{ partial "footer.html" . }}


