{{ partial "header.html" . }}

<main role="main">
    <h1 class="entry-title" itemprop="headline">...et c'est un lien brisé !</h1>
    <span class="entry-meta"></span>
    <section itemprop="entry-text">
        <p>Techniquement, ça s'appelle un <strong>HTTP Error 404</strong>.</p>
        <p>le lien que vous avez utilisé ne pointe pas vers quoi que ce soit. Essayez de de le revérifier. Regardez la <a href="/sitemap/">carte du site</a> pour trouver la bonne page.</p>
        <p>Si vous pensez que j'ai fait une erreur, soyez indulgent et <a href="{{ .Site.BaseURL }}contact/">contactez-moi</a> afin que je puisse le réparer. Merci !</p>
    </section>
</main>

{{ partial "footer.html" . }}




